{% extends "./plantilla.html"  %}
{% block contenido %}
{% load static %}
<div class="row text-center">
  <div class="col-md-5">
    <form class="d-flex">
      <button class="btn btn-dark" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
      <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
      <br><br>
    </form>
    <div class="row">
      <div class="col-md-12 bg-danger mx-3">
        <h2 class="text-center text-white"><strong style="font-size: 20px;">Nuestros locales</strong></h2>
      </div>
    </div>

    <div class="row text-center">
      <div class="col">
        <p class="fs-5"><strong> Ambato</strong> <i class="fa-solid fa-greater-than"></i></p>
        <p class="fs-5"><strong> Cuenca</strong> <i class="fa-solid fa-greater-than"></i></p>
        <p class="fs-5"><strong> Daule</strong> <i class="fa-solid fa-greater-than"></i></p>
        <p class="fs-5"><strong> Guayaquil</strong> <i class="fa-solid fa-greater-than"></i></p>
        <p class="fs-5"><strong> Guayas</strong> <i class="fa-solid fa-greater-than"></i></p>
        <p class="fs-5"><strong> Ibarra</strong> <i class="fa-solid fa-greater-than"></i></p>
        <p class="fs-5"><strong> Latacunga</strong> <i class="fa-solid fa-greater-than"></i></p>
        <p class="fs-5"><strong> Loja</strong> <i class="fa-solid fa-greater-than"></i></p>
        <p class="fs-5"><strong> Machala</strong> <i class="fa-solid fa-greater-than"></i></p>
        <p class="fs-5"><strong> Manta</strong> <i class="fa-solid fa-greater-than"></i></p>
        <p class="fs-5"><strong> Milagro</strong> <i class="fa-solid fa-greater-than"></i></p>
        <p class="fs-5"><strong> Pichincha</strong> <i class="fa-solid fa-greater-than"></i></p>
        <p class="fs-5"><strong> Portoviejo</strong> <i class="fa-solid fa-greater-than"></i></p>
        <p class="fs-5"><strong> Quevedo</strong> <i class="fa-solid fa-greater-than"></i></p>
        <p class="fs-5"><strong> Quito</strong> <i class="fa-solid fa-greater-than"></i></p>
        <p class="fs-5"><strong> Riobamba</strong> <i class="fa-solid fa-greater-than"></i></p>
        <p class="fs-5"><strong> Salinas</strong> <i class="fa-solid fa-greater-than"></i></p>
        <p class="fs-5"><strong> Santo Domingo</strong> <i class="fa-solid fa-greater-than"></i></p>
        <p class="fs-5"><strong> Tulcán</strong> <i class="fa-solid fa-greater-than"></i></p>
      </div>
      <div class="col-8">

        <div class="row">
          <p class="fs-5"><strong> Supermaxi Guajaló</strong> </p>
          <p><strong>De lunes a sábado de 9h30 a 20h30.<br>Domingos y feriados de 9h30 a 20h00.</strong> </p>
          <p><strong>Horario de temporada 31 de diciembre.<br>Apertura normal y cierre 19:00</strong> </p>
          <p><i class="fa-solid fa-location-dot"></i><strong>Dirección: Av. Pedro Vicente Maldonado Número: SN Intersección: Calle pueblo viejo. A lado del concesionario Suzuki.</strong> </p>
          <p><i class="fa-solid fa-phone"></i><strong>Teléfono:</strong> </p
          <p><strong>VER MAPA<br><br></strong> </p>

          <p class="fs-5"><strong>Megamaxi Wayra</strong> </p>
          <p><strong>De lunes a sábado de 10h00 a 21h00.<br>Domingos y feriados de 10h00 a 21h00.</strong> </p>
          <p><strong>Horario de temporada 31 de diciembre.<br>Apertura y cierre 19:00</strong> </p>
          <p><i class="fa-solid fa-location-dot"></i><strong>Dirección: Av. 24 de Mayo Número: S/N Intersección y Av. 10 de Agosto. Frente al parque el paraíso.</strong> </p>
          <p><i class="fa-solid fa-phone"></i><strong>Teléfono:</strong> </p
          <p><strong>VER MAPA<br><br></strong> </p>

          <p class="fs-5"><strong>Supermaxi Granda Centeno</strong> </p>
          <p><strong>De lunes a sábado de 9h30 a 20h30.<br>Domingos y feriados de 10h00 a 21h00.</strong> </p>
          <p><strong>Horario de temporada 31 de diciembre..<br>Apertura normal y cierre 19:00</strong> </p>
          <p><i class="fa-solid fa-location-dot"></i><strong>Dirección: Calle Antonio Granda Centeno, entre Av. Brazil y calle Pablo Herrera.</strong> </p>
          <p><i class="fa-solid fa-phone"></i><strong>Teléfono:</strong> </p
          <p><strong>VER MAPA<br><br></strong></p>

          <p class="fs-5"><strong>Megamaxi Mall del Norte</strong> </p>
          <p><strong>Lunes a sábado de 10h00 a 21h00.<br>Domingos y feriados de 10h00 a 20h30.</strong> </p>
          <p><strong>Horario de temporada 31 de diciembre..<br>Apertura normal y cierre 19:00</strong> </p>
          <p><i class="fa-solid fa-location-dot"></i><strong>Dirección: Av. Francisco de Orellana. Centro Comercial Mall del Norte. Primera planta alta, local #101.</strong> </p>
          <p><i class="fa-solid fa-phone"></i><strong>Teléfono:</strong> </p
          <p><strong>VER MAPA<br><br></strong></p>

          <p class="fs-5"><strong>Supermaxi Vía al Puerto</strong> </p>
          <p><strong>Lunes a sábado de 10h00 a 21h00.<br>Domingos y feriados de 10h00 a 21h00.</strong> </p>
          <p><strong>Horario de temporada 31 de diciembre..<br>Apertura normal y cierre 19:00</strong> </p>
          <p><i class="fa-solid fa-location-dot"></i><strong>Dirección: Av. Bolívar Madero Vargas sn entre Av. Circunvalación Norte y Av. 3era Sur.</strong> </p>
          <p><i class="fa-solid fa-phone"></i><strong>Teléfono:  72130213; 72130294; 72130294; 72130166</strong> </p
          <p><strong>VER MAPA<br><br></strong></p>

          <p class="fs-5"><strong>Supermaxi Quicentro Shopping</strong> </p>
          <p><strong>De 09:30 a 21:00 de lunes a sábado.<br>De 10:00 a 20:00 domingos y feriados.</strong> </p>
          <p><strong>Horario de temporada 31 de diciembre..<br>Apertura normal y cierre 19:00</strong> </p>
          <p><i class="fa-solid fa-location-dot"></i><strong>Dirección: Calle El Comercio SN entre Calles El Vengador y La Razón - Centro Comercial Quicentro Shopping</strong> </p>
          <p><i class="fa-solid fa-phone"></i><strong>Teléfono: 23965252; 23965254; 23965255</strong> </p
          <p><strong>VER MAPA<br><br></strong></p>

          <p class="fs-5"><strong>Supermaxi Urdesa</strong> </p>
          <p><strong>Lunes a sábado de 9:30 a 20:30<br>Domingo y feriados de10:00 a 20:30</strong> </p>
          <p><strong>Horario de temporada 31 de diciembre.<br>Apertura normal y cierre 19:00</strong> </p>
          <p><i class="fa-solid fa-location-dot"></i><strong>Dirección: Barrio las Lomas, Av. Del Rotarismo No. 3 Cdla Urdesa Central, Mz 41.</strong> </p>
          <p><i class="fa-solid fa-phone"></i><strong>Teléfono: 43917342</strong> </p
          <p><strong>VER MAPA<br><br></strong></p>

          <p class="fs-5"><strong>Supermaxi San Carlos</strong> </p>
          <p><strong>Lunes a sábado de 9:30 a 20:30<br>Domingos y feriados de 9:30 a 20h00</strong> </p>
          <p><strong>Horario de temporada 31 de diciembre.<br>Apertura normal y cierre 19:00</strong> </p>
          <p><i class="fa-solid fa-location-dot"></i><strong>Dirección: Calle Angel Ludeña y calle Pedro de Mendoza. A 100 metros del Hospital Pablo Arturo Suarez</strong> </p>
          <p><i class="fa-solid fa-phone"></i><strong>Teléfono: (02) 253-2130</strong> </p
          <p><strong>VER MAPA<br><br></strong></p>

          <p class="fs-5"><strong>Supermaxi Ciudad Celeste</strong> </p>
          <p><strong>Lunes a sábado de 9:30 a 21:00<br>Domingos y feriados de 9:30 a 20h30</strong> </p>
          <p><strong>Horario de temporada 31 de diciembre.<br>Apertura normal y cierre 19:00</strong> </p>
          <p><i class="fa-solid fa-location-dot"></i><strong>Dirección: Av. León Febres Cordero. Ribadeneyra - Centro Comercial La Piazza. Ciudad Celeste</strong> </p>
          <p><i class="fa-solid fa-phone"></i><strong>Teléfono: 43917444</strong> </p
          <p><strong>VER MAPA<br><br></strong></p>

          <p class="fs-5"><strong>Supermaxi Plaza Norte</strong> </p>
          <p><strong>Lunes a sábado de 9:30 a 21:00<br>Domingos y feriados de 9:30 a 19h00</strong> </p>
          <p><strong>Horario de temporada 31 de diciembre.<br>Apertura normal y cierre 19:00</strong> </p>
          <p><i class="fa-solid fa-location-dot"></i><strong>Dirección: Av. Galo Plaza Lasso y Leonardo Murialdo</strong> </p>
          <p><i class="fa-solid fa-phone"></i><strong>Teléfono: (02) 240-7618 ; (02) 240-7519 ; (02) 240-7644</strong> </p
          <p><strong>VER MAPA<br><br></strong></p>

          <p class="fs-5"><strong>Supermaxi Challuabamba</strong> </p>
          <p><strong>Lunes a sábado de 10:00 a 20:30<br>Domingo y feriados de 10:00 a 20:00</strong> </p>
          <p><strong>Horario de temporada 31 de diciembre.<br>Apertura normal y cierre 19:00</strong> </p>
          <p><i class="fa-solid fa-location-dot"></i><strong>Dirección: Panamericana Norte s/n</strong> </p>
          <p><i class="fa-solid fa-phone"></i><strong>Teléfono: 07 4149-397 / 07 4149-398 / 07 4149-399 / 07 4149-400 / 07 4149-396</strong> </p
          <p><strong>VER MAPA<br><br></strong></p>

          <p class="fs-5"><strong>Supermaxi Vía a la Costa</strong> </p>
          <p><strong>Lunes a sábado de 9:30 a 21:00<br>Domingo y feriados de 9:30 a 20:30</strong> </p>
          <p><strong>Horario de temporada 31 de diciembre.<br>Apertura normal y cierre 19:00</strong> </p>
          <p><i class="fa-solid fa-location-dot"></i><strong>Dirección: Vía a la Costa Km 13</strong> </p>
          <p><i class="fa-solid fa-phone"></i><strong>Teléfono: (04) 3917309 / (04) 3917301</strong> </p
          <p><strong>VER MAPA<br><br></strong></p>

          <p class="fs-5"><strong>Supermaxi Villa Club</strong> </p>
          <p><strong>Lunes a sábado de 9:30 a 21:00<br>Domingo y feriados de 9h30 a 21h00</strong> </p>
          <p><strong>Horario de temporada 31 de diciembre.<br>Apertura normal y cierre 19:00</strong> </p>
          <p><i class="fa-solid fa-location-dot"></i><strong>Dirección: Avenida León de Febres Cordero S/N y Av. Principal</strong> </p>
          <p><i class="fa-solid fa-phone"></i><strong>Teléfono: (04) 216-6085</strong> </p
          <p><strong>VER MAPA<br><br></strong></p>

          <p class="fs-5"><strong>Supermaxi Villa Club</strong> </p>
          <p><strong>Lunes a sábado de 9:30 a 21:00<br>Domingo y feriados de 9h30 a 21h00</strong> </p>
          <p><strong>Horario de temporada 31 de diciembre.<br>Apertura normal y cierre 19:00</strong> </p>
          <p><i class="fa-solid fa-location-dot"></i><strong>Dirección: Avenida León de Febres Cordero S/N y Av. Principal</strong> </p>
          <p><i class="fa-solid fa-phone"></i><strong>Teléfono: (04) 216-6085</strong> </p
          <p><strong>VER MAPA<br><br></strong></p>

          <p class="fs-5"><strong>Supermaxi San Gabriel</strong> </p>
          <p><strong>Lunes a sábado de 09h30 a 20h30</strong> </p>
          <p><strong>Horario de temporada 31 de diciembre.<br>Apertura normal y cierre 19:00</strong> </p>
          <p><i class="fa-solid fa-location-dot"></i><strong>Dirección: Av. Río Amazonas 400 y Av. Río Coca, frente a la Iglesia San Gabriel de los Chillos.</strong> </p>
          <p><i class="fa-solid fa-phone"></i><strong>Teléfono: (02) 286-8239 / (02) 286-8225 / (02) 286-8187 / (02) 286-8187</strong> </p
          <p><strong>VER MAPA<br><br></strong></p>

          <p class="fs-5"><strong>Supermaxi Quevedo</strong> </p>
          <p><strong>De lunes a sábado 10:00 a 20:00.<br> Domingo y feriados de 10:00 a 20:00</strong> </p>
          <p><strong>Horario de temporada 31 de diciembre.<br>Apertura normal y cierre 19:00</strong> </p>
          <p><i class="fa-solid fa-location-dot"></i><strong>Dirección: Av. Walter Andrade Fajardo y Moroni</strong> </p>
          <p><i class="fa-solid fa-phone"></i><strong>Teléfono: (05) 275-1582 / (05) 275-1448 / (05) 275-1223 / (05) 275-1360</strong> </p
          <p><strong>VER MAPA<br><br></strong></p>

          <p class="fs-5"><strong>Supermaxi Tulcán</strong> </p>
          <p><strong>Lunes a sábado de 9h30 a 20h00<br>Domingo y feriados de 9h30 a 19h30</strong> </p>
          <p><strong>Horario de temporada 31 de diciembre.<br>Apertura normal y cierre 19:00</strong> </p>
          <p><i class="fa-solid fa-location-dot"></i><strong>Dirección: Av. Seminario S/N Y Andrés Bello</strong> </p>
          <p><i class="fa-solid fa-phone"></i><strong>Teléfono: (06) 259-8063 / (06) 259-8075 / (06) 259-8068 / (06) 259-8062</strong> </p
          <p><strong>VER MAPA<br><br></strong></p>

          <p class="fs-5"><strong>Supermaxi Riobamba</strong> </p>
          <p><strong>De lunes a sábado 09:30 a 20:30.<br>Domingo y feriados de 10:00 a 20:30</strong> </p>
          <p><strong>Horario de temporada 31 de diciembre.<br>Apertura normal y cierre 19:00</strong> </p>
          <p><i class="fa-solid fa-location-dot"></i><strong>Dirección: Av. Lizarzaburo SN y Calle A</strong> </p>
          <p><i class="fa-solid fa-phone"></i><strong>Teléfono: (03) 230-7103 / (03) 230-7104 / (03) 230-7105 / (03) 230-7106</strong> </p
          <p><strong>VER MAPA<br><br></strong></p>

          <p class="fs-5"><strong>Supermaxi Riobamba</strong> </p>
          <p><strong>De lunes a sábado 09:30 a 20:30.<br>Domingo y feriados de 10:00 a 20:30</strong> </p>
          <p><strong>Horario de temporada 31 de diciembre.<br>Apertura normal y cierre 19:00</strong> </p>
          <p><i class="fa-solid fa-location-dot"></i><strong>Dirección: Av. Lizarzaburo SN y Calle A</strong> </p>
          <p><i class="fa-solid fa-phone"></i><strong>Teléfono: (03) 230-7103 / (03) 230-7104 / (03) 230-7105 / (03) 230-7106</strong> </p
          <p><strong>VER MAPA<br><br></strong></p>

          <p class="fs-5"><strong>Supermaxi Portoviejo</strong> </p>
          <p><strong>De lunes a sábado 09:30 a 20:30.<br>Domingo y feriados de 10:00 a 20:30</strong> </p>
          <p><strong>Horario de temporada 31 de diciembre.<br>Apertura normal y cierre 19:00</strong> </p>
          <p><i class="fa-solid fa-location-dot"></i><strong>Dirección: Av. Manabí s/n y Av. 5 de Junio - Parroquia 12 de Marzo</strong> </p>
          <p><i class="fa-solid fa-phone"></i><strong>Teléfono: (05) 263-5847 / (05) 263-5037 / (05) 263-6069</strong> </p
          <p><strong>VER MAPA<br><br></strong></p>

          <p class="fs-5"><strong>Supermaxi Salinas</strong> </p>
          <p><strong>De lunes a sábado 09:30 a 20:30.<br>Domingo y feriados de 9:30 a 20:30</strong> </p>
          <p><strong>Horario de temporada 31 de diciembre.<br>Apertura normal y cierre 19:00</strong> </p>
          <p><i class="fa-solid fa-location-dot"></i><strong>Dirección: Floresta R1 via principal a Salinas, Av. Carlos Espinoza Larrea</strong> </p>
          <p><i class="fa-solid fa-phone"></i><strong>Teléfono: (04) 293-0337 / (04) 293-0334 / (04) 293-0335 / (04) 293-0336</strong> </p
          <p><strong>VER MAPA<br><br></strong></p>

          <p class="fs-5"><strong>Supermaxi Salinas</strong> </p>
          <p><strong>De lunes a sábado 09:30 a 20:30.<br>Domingo y feriados de 9:30 a 20:30</strong> </p>
          <p><strong>Horario de temporada 31 de diciembre.<br>Apertura normal y cierre 19:00</strong> </p>
          <p><i class="fa-solid fa-location-dot"></i><strong>Dirección: Floresta R1 via principal a Salinas, Av. Carlos Espinoza Larrea</strong> </p>
          <p><i class="fa-solid fa-phone"></i><strong>Teléfono: (04) 293-0337 / (04) 293-0334 / (04) 293-0335 / (04) 293-0336</strong> </p
          <p><strong>VER MAPA<br><br></strong></p>

          <p class="fs-5"><strong>Supermaxi Santo Domingo</strong> </p>
          <p><strong>De lunes a sábado 09:30 a 20:30.<br>Domingo y feriados de 10:00 a 19:30</strong> </p>
          <p><strong>Horario de temporada 31 de diciembre.<br>Apertura normal y cierre 19:00</strong> </p>
          <p><i class="fa-solid fa-location-dot"></i><strong>Dirección: Floresta R1 via principal a Salinas, Av. Carlos Espinoza Larrea</strong> </p>
          <p><i class="fa-solid fa-phone"></i><strong>Teléfono: (02) 274-2320 / (02) 274-3060</strong> </p
          <p><strong>VER MAPA<br><br></strong></p>

          <p class="fs-5"><strong>Supermaxi Parque California</strong> </p>
          <p><strong>De lunes a sábado 10:00 a 20:00.<br>Domingo y feriados de 10:00 a 19:00</strong> </p>
          <p><strong>Horario de temporada 31 de diciembre.<br>Apertura normal y cierre 19:00</strong> </p>
          <p><i class="fa-solid fa-location-dot"></i><strong>Dirección: Km 12 1/2 Vía Daule</strong> </p>
          <p><i class="fa-solid fa-phone"></i><strong>Teléfono: (04) 210-0025 / (04) 210-0061 / (04) 210-0964</strong> </p
          <p><strong>VER MAPA<br><br></strong></p>

          <p class="fs-5"><strong>Supermaxi Policentro</strong> </p>
          <p><strong>De lunes a sábado 9:30 a 20:00.<br>Domingo y feriados de 10:00 a 20:00</strong> </p>
          <p><strong>Horario de temporada 31 de diciembre.<br>Apertura normal y cierre 19:00</strong> </p>
          <p><i class="fa-solid fa-location-dot"></i><strong>Dirección: Km 12 1/2 Vía Daule</strong> </p>
          <p><i class="fa-solid fa-phone"></i><strong>Teléfono: (02) 392-2037 / (02) 392-2038 </strong> </p
          <p><strong>VER MAPA<br><br></strong></p>

          <p class="fs-5"><strong>Supermaxi Pomasqui</strong> </p>
          <p><strong>De lunes a sábado 10:00 a 20:00.<br>Domingo y feriados de 10:00 a 19:30</strong> </p>
          <p><strong>Horario de temporada 31 de diciembre.<br>Apertura normal y cierre 19:00</strong> </p>
          <p><i class="fa-solid fa-location-dot"></i><strong>Dirección: Km 12 1/2 Vía Daule</strong> </p>
          <p><i class="fa-solid fa-phone"></i><strong>Teléfono: (02) 392-2037 / (02) 392-2038 / (02) 392-2039 / (02) 392-2040</strong> </p
          <p><strong>VER MAPA<br><br></strong></p>

          <p class="fs-5"><strong>Supermaxi Real Audiencia</strong> </p>
          <p><strong>De lunes a sábado 10:00 a 20:00.<br>Domingo y feriados de 10:00 a 20:00</strong> </p>
          <p><strong>Horario de temporada 31 de diciembre.<br>Apertura normal y cierre 19:00</strong> </p>
          <p><i class="fa-solid fa-location-dot"></i><strong>Dirección: Avenida Real Audiencia S/N y Francisco Dalmau</strong> </p>
          <p><i class="fa-solid fa-phone"></i><strong>Teléfono: (02) 340-6713 / (02) 340-6712 / (02) 340-6714 / (02) 340-6709</strong> </p
          <p><strong>VER MAPA<br><br></strong></p>

          <p class="fs-5"><strong>Supermaxi Tumbaco</strong> </p>
          <p><strong>De lunes a sábado 09:30 a 20:00.<br>Domingo y feriados de 09:30 a 19:00</strong> </p>
          <p><strong>Horario de temporada 31 de diciembre.<br>Apertura normal y cierre 19:00</strong> </p>
          <p><i class="fa-solid fa-location-dot"></i><strong>Dirección: Vía Interoceánica Km 14 1/2</strong> </p>
          <p><i class="fa-solid fa-phone"></i><strong>Teléfono: (02) 237-7954 / (02) 237-7955 / (02) 237-7956 / (02) 237-7957</strong> </p
          <p><strong>VER MAPA<br><br></strong></p>

          <p class="fs-5"><strong>Supermaxi Plaza Atahualpa</strong> </p>
          <p><strong>De lunes a sábado 09:30 a 20:00.<br>Domingo y feriados de 09:30 a 19:30</strong> </p>
          <p><strong>Horario de temporada 31 de diciembre.<br>Apertura normal y cierre 19:00</strong> </p>
          <p><i class="fa-solid fa-location-dot"></i><strong>Dirección: Av. Mariscal Antonio José de Sucre y Pedro Capiro (C.C. Plaza Atahualpa)</strong> </p>
          <p><i class="fa-solid fa-phone"></i><strong>Teléfono: (02) 266-5137 / (02) 266-9402 / (02) 266-9406</strong> </p
          <p><strong>VER MAPA<br><br></strong></p>

          <p class="fs-5"><strong>Supermaxi Bicentenario Plaza</strong> </p>
          <p><strong>De lunes a sábado 09:30 a 20:00.<br>Domingo y feriados de 10:00 a 18:30</strong> </p>
          <p><strong>Horario de temporada 31 de diciembre.<br>Apertura normal y cierre 19:00</strong> </p>
          <p><i class="fa-solid fa-location-dot"></i><strong>Dirección: Homero Salas s/n y Av. De La Prensa (C.C. Plaza Aeropuerto)</strong> </p>
          <p><i class="fa-solid fa-phone"></i><strong>Teléfono: (02) 224-41750 / (02) 224-1235 / (02) 244-1755 / (02) 244-1865</strong> </p
          <p><strong>VER MAPA<br><br></strong></p>

          <p class="fs-5"><strong>Supermaxi Ficoa</strong> </p>
          <p><strong>De lunes a sábado 09:30 a 20:00.<br>Domingo y feriados de 10:00 a 20:30</strong> </p>
          <p><strong>Horario de temporada 31 de diciembre.<br>Apertura normal y cierre 19:00</strong> </p>
          <p><i class="fa-solid fa-location-dot"></i><strong>Dirección: Homero Salas s/n y Av. De La Prensa (C.C. Plaza Aeropuerto)</strong> </p>
          <p><i class="fa-solid fa-phone"></i><strong>Teléfono: (02) 224-41750 / (02) 224-1235 / (02) 244-1755 / (02) 244-1865</strong> </p
          <p><strong>VER MAPA<br><br></strong></p>
        </div>
      </div>
     </div>
  </div>
  <div class="col-md-4">
    <div id="mapa2" style="width:965px; height:500px; border:2px solid black;"></div>
</div>
<script type="text/javascript">
  function initMap(){
    var coordenadaSupermaxi=new google.maps.LatLng(-0.2833720460997182, -78.45415743224333);
    var miMapa=new google.maps.Map(
      document.getElementById('mapa2'),{
        center: coordenadaSupermaxi,
        zoom:10,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });
    var punto1= new google.maps.Marker({
      position: new google.maps.LatLng(-0.2445769881492448, -78.53724153943216),
      map: miMapa,
      title: 'punto1',
    });

    var punto18= new google.maps.Marker({
      position: new google.maps.LatLng(-0.2462935861357032, -78.53861483046006),
      map: miMapa,
      title: 'punto18',
    });
    var punto19= new google.maps.Marker({
      position: new google.maps.LatLng(-0.22191787474016447, -78.4143319924338),
      map: miMapa,
      title: 'punto19',
    });

    var punto307= new google.maps.Marker({
      position: new google.maps.LatLng(-0.04677990592003213, -78.45604832139284),
      map: miMapa,
      title: 'punto307',
    });
    var punto308= new google.maps.Marker({
      position: new google.maps.LatLng(-0.5089328729504519, -78.56648930760794),
      map: miMapa,
      title: 'punto308',
    });
}
</script>
</div>

{% endblock %}
