{% extends "./plantilla.html"  %}
{% block contenido %}
{% load static %}
<div class="row text-center">
  <div class="col-md-12">
    <h2><span class="badge rounded-circle bg-warning text-white"></span><strong> MAXI NOTICIAS</strong></h2>
    <h4>ENTÉRATE DE TODO LO QUE SUPERMAXI TIENE PARA TI.</h4>
  </div>
</div>
<br>
<br>
<div class="custom-container">
  <div class="row">
    <div class="col-md-3">
      <img src="{% static 'images/imagen85.png' %}" height="100%" width="100%">
    </div>
    <div class="col-md-3">
      <img src="{% static 'images/imagen86.png' %}" height="100%" width="100%">
    </div>
    <div class="col-md-3">
      <img src="{% static 'images/imagen87.png' %}" height="100%" width="100%">
    </div>
    <div class="col-md-3">
      <img src="{% static 'images/imagen88.png' %}" height="100%" width="100%">
    </div>
  </div>
</div>
<br>
<div class="custom-container">
  <div class="row">
    <div class="col-md-3">
      <h5><strong>Guía Supermaxi para la cena </strong></h5>
      <h6>Consejos que harán increíble su cena de fin de <br> año</h6>
      <h6 style="color: orange">VER MÁS</h6>
    </div>
    <div class="col-md-3">
      <h5><strong>Celebrando la Navidad</strong></h5>
      <h6>Pannetones y espumantes, una tradición navideña que llega desde Italia.</h6>
      <h6 style="color: orange">VER MÁS</h6>
    </div>
    <div class="col-md-3">
      <h5><strong>Brindis de Acción de Gracias</strong></h5>
      <h6>El complemento perfecto de la cena son las bebidas.</h6>
      <h6 style="color: orange">VER MÁS</h6>
    </div>
    <div class="col-md-3">
      <h5><strong>Acompaña un partido de fútbol</strong></h5>
      <h6>Vive con intensidad y refrésquese durante los 90 minutos.</h6>
      <h6 style="color: orange">VER MÁS</h6>
    </div>
  </div>
</div>
<br>
<br>
<div class="custom-container">
  <div class="row">
    <div class="col-md-3">
      <img src="{% static 'images/imagen89.png' %}" height="100%" width="100%">
    </div>
    <div class="col-md-3">
      <img src="{% static 'images/imagen90.png' %}" height="100%" width="100%">
    </div>
    <div class="col-md-3">
      <img src="{% static 'images/imagen91.png' %}" height="100%" width="100%">
    </div>
    <div class="col-md-3">
      <img src="{% static 'images/imagen92.png' %}" height="100%" width="100%">
    </div>
  </div>
</div>
<br>
<div class="custom-container">
  <div class="row">
    <div class="col-md-3">
      <h5><strong>Sazone su parrillada con las bebidas</strong></h5>
      <h6>La carne no es lo único importante en una parrillada.</h6>
      <h6 style="color: orange">VER MÁS</h6>
    </div>
    <div class="col-md-3">
      <h5><strong>El licor perfecto para sus Super</strong></h5>
      <h6>Las bebidas ideales en un solo lugar.</h6>
      <h6 style="color: orange">VER MÁS</h6>
    </div>
    <div class="col-md-3">
      <h5><strong>Los ReciAmigos le brindan</strong></h5>
      <h6>Conozca a nuestros ReciAmigos y complete su álbum</h6>
      <h6 style="color: orange">VER MÁS</h6>
    </div>
    <div class="col-md-3">
      <h5><strong>Salva al planeta con el álbum</strong></h5>
      <h6>Cuide el planeta y gane con Supermaxi</h6>
      <h6 style="color: orange">VER MÁS</h6>
    </div>
  </div>
</div>
<br>
<br>
<div class="row text-center">
  <div class="col-md-12">
    <button type="button" class="btn btn-dark">1</button> &nbsp
    <button type="button" class="btn btn-dark">2</button> &nbsp
    <button type="button" class="btn btn-dark">3</button> &nbsp
    <button type="button" class="btn btn-dark">4</button> &nbsp
    <button type="button" class="btn btn-dark">5</button> &nbsp
    <button type="button" class="btn btn-dark"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
  </div>
</div>
<br>
<br>
<div class="row text-center">
  <div class="col-md-12">
    <img src="https://www.supermaxi.com/wp-content/uploads/2020/06/Banner_home_buscador_universal_800x160.gif" width="50%" height="80%" alt="">
  </div>
</div>
{% endblock %}
