{% extends "./plantilla.html"  %}
{% block contenido %}
{% load static %}
<div class="row text-center">
  <div class="col-md-12">
    <h2><span class="badge rounded-circle bg-warning text-white"><i class="fa fa-recycle" aria-hidden="true"></i></span><strong> SOMOS RESPONSABLES</strong></h2>
    <h5>CONOZCA LAS INICIATIVAS QUE TENEMOS CON EL MEDIO AMBIENTE Y NUESTRA COMUNIDAD.</h5>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <img src="{% static 'images/imagen66.png' %}" height="100%" width="100%">
  </div>
</div>
<br>
<br>
<div class="custom-container">
  <div class="row">
    <div class="col-md-3">
      <img src="{% static 'images/imagen67.png' %}" height="100%" width="100%">
    </div>
    <div class="col-md-3">
      <img src="{% static 'images/imagen68.png' %}" height="100%" width="100%">
    </div>
    <div class="col-md-3">
      <img src="{% static 'images/imagen69.png' %}" height="100%" width="100%">
    </div>
    <div class="col-md-3">
      <img src="{% static 'images/imagen70.png' %}" height="100%" width="100%">
    </div>
  </div>
</div>
<br>
<br>
<div class="custom-container">
  <div class="row">
    <div class="col-md-6">
      <img src="{% static 'images/imagen64.png' %}" height="100%" width="100%">
    </div>
    <div class="col-md-6">
      <img src="{% static 'images/imagen65.png' %}" height="100%" width="100%">
    </div>
  </div>
</div>
{% endblock %}
