{% extends "./plantilla.html"  %}
{% block contenido %}
{% load static %}
<div class="row text-center">
  <div class="col-md-12">
    <h2><span class="badge rounded-circle bg-warning text-white"><i class="fa fa-user" aria-hidden="true"></i></span><strong> TRABAJE CON NOSOTROS</strong></h2>
    <h5>TRABAJE JUNTO A LA FAMILIA MÁS IMPORTANTE DE RETAIL Y VENTAS A NIVEL NACIONAL.</h5>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-md-12">
    <img src="{% static 'images/imagen58.png' %}" height="100%" width="100%">
  </div>
</div>
<br>
<br>
<div class="custom-container">
  <div class="row">
    <div class="col-md-3">
      <img src="{% static 'images/imagen59.png' %}" height="100%" width="100%">
    </div>
    <div class="col-md-3">
      <img src="{% static 'images/imagen60.png' %}" height="100%" width="100%">
    </div>
    <div class="col-md-3">
      <img src="{% static 'images/imagen61.png' %}" height="100%" width="100%">
    </div>
    <div class="col-md-3">
      <img src="{% static 'images/imagen62.png' %}" height="100%" width="100%">
    </div>
  </div>
</div>
<br>
<div class="row text-center">
  <div class="col-md-12">
    <img src="{% static 'images/imagen63.png' %}" height="400px" width="30%">
  </div>
</div>
<br>
<br>
<div class="row text-center">
  <div class="col-md-12">
    <button type="button" class="btn btn-dark btn-lg">POSTULARSE</button>
  </div>
</div>
<br>
<br>
<div class="custom-container">
  <div class="row">
    <div class="col-md-6">
      <img src="{% static 'images/imagen64.png' %}" height="100%" width="100%">
    </div>
    <div class="col-md-6">
      <img src="{% static 'images/imagen65.png' %}" height="100%" width="100%">
    </div>
  </div>
</div>
{% endblock %}
